/* styles.css */

/* Define a custom property for the active color */
:root {
    --active-color: #7A1AE4;
    /* Change to your desired color */
}

.nav-link {
    position: relative;
    padding-bottom: 20px;
    font-family: Poppins, sans-serif;
    color: #131735;
    font-weight: 500;
    font-size: 15px;
    /* Default text color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link.active {
    font-weight: bold;
    color: var(--active-color);
    /* Use the custom property for active text */
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--active-color);
    /* Use the same color for the bottom border */
    border-radius: 2px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--active-color) !important;
}

.button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.get_in_touch_btn {
    width: 192px;
    height: 54px;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #ED5534, #431EEB) border-box;
    color: #180141;
    font-weight: 500;
    padding: 0px 38px;
    border: 1.5px solid transparent;
    border-radius: 40px;
    display: inline-block;
    font-size: 16px;
    text-align: left;
}

.round_arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: 8px;
    /* gap: 10px;
    opacity: 0px; */

}

.carousel_head {
    font-family: Poppins, sans-serif;
    font-size: 96px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    /* background: linear-gradient(232.64deg, #F88907 14.77%, #7B3BBB 71.65%); */
    background-image: linear-gradient(#F88907, #7B3BBB);
    color: transparent;
    background-clip: text;
}

.carousel_sub_head {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 35.84px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.carousel_about {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #EEEEF2;
}

.explore_btn {
    width: 205px;
    height: 62px;
    background-image: linear-gradient(to right, #ED5534, #431EEB);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    color: #FFFFFF;
    font-weight: 500;
    padding: 0px 38px;
    border: 0px solid transparent;
    border-radius: 100px;
    display: inline-block;
    font-size: 16px;
    text-align: left;
}

.explore_round_arrow {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 8px;
    right: 8px;
}

.know_more_button_div {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.know_more_btn {
    width: 205px;
    height: 62px;
    background:
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #ED5534, #431EEB) border-box;
    color: #180141;
    font-weight: 600;
    padding: 0px 38px;
    border: 1.5px solid transparent;
    border-radius: 40px;
    display: inline-block;
    font-size: 18px;
    text-align: left;
}

.know_more_round_arrow {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 8px;
    left: 151px;
    /* gap: 10px;
    opacity: 0px; */

}

.about_head {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7C7D85;
}

.about_sub {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #131735;
}

.about_body {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3A3B42;
}

.side_border {
    border-right: 1px solid #BABBBD;
}

.pr_10 {
    padding-right: 10%;
}

.pl_5 {
    padding-left: 5%;
}

.card_style {
    width: 360px;
    height: 264px;
    border-radius: 40px;
    opacity: 0px;
    border: 1px solid #9DB3D366;
    box-shadow: 0px 20px 60px 0px #C0BFEA4F;
}

.card_title {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #131735;
}

.card_text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4F4F5E;
}

.card_icon {
    height: 50px;
    width: 50px;
}

.projects_div {
    background-image: url("./images/project_bg.png");
    /* background-color: #cccccc; */
}

.project_card {
    width: 280px !important;
    height: 480px !important;
    border-radius: 40px !important;
}

@media screen and (orientation: landscape) {
    /* .carousel img {
        height: 100vh;
    } */
}